## Deliverable 2. Create a Customer Travel Destinations Map.

In [22]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Provideniya,RU,64.3833,-173.3000,26.71,80,100,8.99,overcast clouds
1,1,Vestmanna,FO,62.1564,-7.1664,34.72,80,100,1.14,light intensity drizzle
2,2,Guaruja,BR,-23.9931,-46.2564,74.21,79,0,3.04,clear sky
3,3,Jamestown,US,42.0970,-79.2353,41.02,60,93,11.01,overcast clouds
4,4,Mataura,NZ,-46.1927,168.8643,55.47,85,67,3.02,broken clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
2,2,Guaruja,BR,-23.9931,-46.2564,74.21,79,0,3.04,clear sky
5,5,Mahebourg,MU,-20.4081,57.7000,75.49,88,40,9.22,scattered clouds
9,9,Bitung,ID,1.4451,125.1824,79.65,83,100,4.85,moderate rain
10,10,Georgetown,MY,5.4112,100.3354,89.53,74,20,5.75,few clouds
12,12,Zacualpan,MX,21.2500,-105.1667,72.97,71,0,4.16,clear sky
16,16,Charlestown,AU,-32.9500,151.6667,73.81,87,100,3.89,light rain
18,18,Bengkulu,ID,-3.8004,102.2655,85.93,67,66,5.50,broken clouds
22,22,Kapaa,US,22.0752,-159.3190,78.78,81,76,3.00,broken clouds
23,23,Vao,NC,-22.6667,167.4833,74.71,60,100,18.43,overcast clouds
30,30,Kavieng,PG,-2.5744,150.7967,86.25,67,20,14.18,few clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                249
City                   249
Country                249
Lat                    249
Lng                    249
Max Temp               249
Humidity               249
Cloudiness             249
Wind Speed             249
Weather Description    249
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Guaruja,BR,74.21,clear sky,-23.9931,-46.2564,
5,Mahebourg,MU,75.49,scattered clouds,-20.4081,57.7000,
9,Bitung,ID,79.65,moderate rain,1.4451,125.1824,
10,Georgetown,MY,89.53,few clouds,5.4112,100.3354,
12,Zacualpan,MX,72.97,clear sky,21.2500,-105.1667,
16,Charlestown,AU,73.81,light rain,-32.9500,151.6667,
18,Bengkulu,ID,85.93,broken clouds,-3.8004,102.2655,
22,Kapaa,US,78.78,broken clouds,22.0752,-159.3190,
23,Vao,NC,74.71,overcast clouds,-22.6667,167.4833,
30,Kavieng,PG,86.25,few clouds,-2.5744,150.7967,

In [31]:
import requests
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [40]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [45]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Weather Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [46]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [50]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [53]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))